@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-size: 62.5%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  background: #f2f2f2;
  font-family: "Poppins", sans-serif;
}

section:not(:last-child) {
  margin-bottom: 100px;
}

header {
  margin: 50px auto;
}

.section-heading {
  font-weight: 300;
  font-size: 2rem;
}

.hr-opacity {
  border: none;
  border-top: 1px solid #f2d091;
  opacity: 0.7;
  width: 75%;
  margin: 5px auto 40px;
}

.left-box {
  display: none;
}

.right-box {
  text-align: center;
  width: 90%;
  margin: auto;
}

.home-container {
  margin-top: 100px;
}
.home-container h1 {
  position: relative;
  font-weight: 600;
}
.home-container h1::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 15%;
  width: 20px;
  height: 2px;
  border-radius: 5px;
  margin-top: -5px;
  background: #d9a74a;
  transform: translateX(-50%);
}
.home-container p {
  margin-bottom: 25px;
}
.home-container img {
  width: 65%;
  display: block;
  margin: auto;
  border-radius: 2px;
  box-shadow: 1px 1px 149px -1px rgba(0, 0, 0, 0.49);
  -webkit-box-shadow: 1px 1px 149px -1px rgba(0, 0, 0, 0.49);
  -moz-box-shadow: 1px 1px 149px -1px rgba(0, 0, 0, 0.49);
}
.home-container .angle-icon {
  display: none;
}

.nav-bar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2px 10px;
  position: fixed;
  top: 0;
  z-index: 1;
}
.nav-bar .nav-menu {
  list-style: none;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: absolute;
  top: 100%;
  left: -100%;
  width: 100%;
  gap: 25px;
  background: #f0f0e6;
  transition: 0.5s ease-in;
  padding: 20px 0;
}
.nav-bar .nav-menu .nav-link {
  transition: 0.2s ease;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.55);
}
.nav-bar .nav-menu .nav-link:hover {
  color: rgba(0, 0, 0, 0.95);
}
.nav-bar .image-navbar {
  display: none;
}
.nav-bar .hamburguer-btn {
  display: flex;
  align-items: center;
  cursor: pointer;
  height: 50px;
}
.nav-bar .hamburguer-btn i {
  font-size: 3.2rem;
}

.hamburguer-btn.active {
  animation: 1.5s linear shakey;
}

.nav-menu.active {
  left: 0;
}

.nav-bar.active {
  background: #f0f0e6;
}

@keyframes shakey {
  0% {
    transform: skewY(-15deg);
  }
  5% {
    transform: skewY(15deg);
  }
  10% {
    transform: skewY(-15deg);
  }
  15% {
    transform: skewY(15deg);
  }
  20% {
    transform: skewY(0deg);
  }
  100% {
    transform: skewY(0deg);
  }
}
.about-me p {
  font-size: 1.5rem;
  padding: 0 25px;
  line-height: 35px;
  letter-spacing: 0.15rem;
}
.about-me span {
  background: #f2d091;
}
.about-me .span-strikethrough {
  text-decoration: line-through;
  text-decoration-thickness: 1.5px;
  background: none;
}
.about-me .highlight-span {
  background: none;
  position: relative;
  border-bottom: 2px solid #f2d091;
}

.my-works .my-works-item {
  display: flex;
  width: 75%;
  flex-flow: column wrap;
  margin: auto auto 75px;
}
.my-works .my-works-item p {
  width: 70%;
  margin: auto;
  letter-spacing: 0.3rem;
  font-size: 1.5rem;
  line-height: 30px;
  letter-spacing: 0.1rem;
}
.my-works .my-works-item img {
  width: 100%;
  max-width: 1000px;
  border: 5px solid wheat;
  border-radius: 10px;
  margin: auto auto 15px;
}
.my-works .my-works-item .works-btn {
  margin: auto;
}
.my-works .my-works-item .works-btn a {
  text-decoration: none;
  border: 2px solid #f2d091;
  padding: 5px 50px;
  border-radius: 5px;
  background: #f0f0e6;
  color: black;
  transition: background ease-in-out 0.7s, color ease-in-out 0.3s, border ease 0.5s, padding ease 1s;
  font-size: 1.5rem;
  margin: auto;
  width: 100%;
}

.my-certificates .certificates-carousel {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.my-certificates .certificates-carousel img {
  width: 90%;
  margin: auto;
}
.my-certificates .certificates-carousel i {
  cursor: pointer;
  width: 100px;
  font-size: 2.5rem;
  padding: 20px 0;
  opacity: 0.3;
  transition: opacity 0.7s ease;
}
.my-certificates .certificates-carousel i:hover {
  opacity: 1;
}

.certificate-js.active,
.certificate-wd.active {
  display: none;
}

.marquee-skills {
  width: 75%;
  height: 100px;
  position: relative;
  display: flex;
  overflow: hidden;
  margin: auto;
  max-width: 900px;
}

.marque-item {
  height: 100px;
  display: flex;
  align-items: center;
  animation: marqueeAnimation 25s linear infinite;
}
.marque-item svg {
  height: 50px;
  padding: 0 10px;
}

@keyframes marqueeAnimation {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
@media screen and (min-width: 992px) {
  .section-heading {
    font-size: 3rem;
  }
  .nav-bar {
    width: 30%;
    background: #f0f0e6;
  }
  .nav-bar .nav-menu {
    position: initial;
    flex-flow: row wrap;
    width: initial;
  }
  .nav-bar .nav-menu .nav-item {
    font-size: 1.2rem;
  }
  .nav-bar .nav-menu .nav-item .nav-link {
    position: relative;
  }
  .nav-bar .nav-menu .nav-item .nav-link::after {
    content: "";
    position: absolute;
    top: 20px;
    left: 0;
    right: 0;
    width: 0;
    height: 3px;
    border-radius: 2px;
    background: #f2d091;
  }
  .nav-bar .nav-menu .nav-item .nav-link:hover::after {
    width: 100%;
    transition: width 0.5s;
  }
  .nav-bar .image-navbar {
    display: block;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    object-fit: cover;
  }
  .nav-bar .hamburguer-btn {
    display: none;
  }
  .left-box {
    display: inline;
    width: 30%;
    position: fixed;
    inset: 0;
    background: url("../images/DamyCoder.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: 30%;
    background-position-x: 50%;
  }
  .right-box {
    width: 70%;
    margin-left: 30%;
  }
  .right-box header {
    margin: 0;
    height: 100vh;
    position: relative;
  }
  .right-box header .home-container {
    position: absolute;
    top: 40%;
    width: 100%;
    margin: auto;
  }
  .right-box header .home-container h1 {
    font-size: 5rem;
    font-weight: 400;
  }
  .right-box header .home-container h1::after {
    width: 30px;
    height: 3px;
    bottom: 18%;
    left: 50%;
    transform: translateX(-55%);
  }
  .right-box header .home-container p {
    font-size: 2.5rem;
    font-weight: 300;
  }
  .right-box header .home-container img {
    display: none;
  }
  .right-box header .home-container .angle-icon {
    display: initial;
    font-size: 2.5rem;
    color: black;
    animation: blinky 1s alternate-reverse infinite;
    color: #d9a74a;
    padding: 25px 30px;
    border-radius: 50%;
    position: relative;
  }
  .right-box header .home-container .angle-icon::after {
    opacity: 0;
    content: "Click Me";
    font-size: 1rem;
    font-weight: 400;
    color: black;
    position: absolute;
    width: auto;
    height: auto;
    background: transparent;
    padding: 0 5px;
    border: 2px solid wheat;
    border-radius: 5px;
    bottom: 60%;
    right: -30%;
    font-family: "Poppins", sans-serif;
  }
  .right-box header .home-container .angle-icon:hover {
    animation: step-end;
  }
  .right-box header .home-container .angle-icon:hover::after {
    opacity: 1;
    transition: opacity 4s;
  }
  .right-box .about-me p {
    width: 50%;
    margin: auto;
    min-width: 450px;
  }
  .right-box .my-skills p {
    font-size: 1.5rem;
  }
  .right-box .my-skills svg {
    height: 75px;
    padding: 0 25px;
  }
  .right-box .my-works .my-works-item {
    flex-flow: row wrap;
  }
  .right-box .my-works .my-works-item p {
    width: 50%;
    padding: 0 10px;
    font-size: 2.5rem;
  }
  .right-box .my-works .my-works-item img {
    width: 50%;
  }
  .right-box .my-works .javascript-item img {
    order: 1;
  }
  .right-box .my-works .javascript-item p {
    order: 2;
  }
  .right-box .my-works .javascript-item div {
    order: 3;
  }
  .right-box .my-works .works-btn a:hover {
    cursor: pointer;
    background: #d9a74a;
    color: #f2f2f2;
    border: 0.5px solid #d9a74a;
    padding: 5px 15px;
  }
  .right-box .my-certificates {
    width: 50%;
    margin: auto;
  }
}
@media screen and (min-width: 992px) and (max-width: 1226px) {
  .nav-bar {
    flex-direction: column;
  }
  .nav-bar .nav-menu .nav-item {
    font-size: 1rem;
  }
}
@media screen and (min-width: 1400px) {
  .nav-bar .nav-menu .nav-item {
    font-size: 1.5rem;
  }
  .my-works .my-works-item p {
    font-size: 2.75rem !important;
  }
}
@keyframes blinky {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/*# sourceMappingURL=style.css.map */
