.about-me {
    p {
        font-size: 1.5rem;
        padding: 0 25px;
        line-height: 35px;
        letter-spacing: 0.15rem;
    }

    span {
        background: map-get($map: $colorMap, $key:"lightGolden");
    }

    .span-strikethrough {
        text-decoration: line-through;
        text-decoration-thickness: 1.5px;
        background: none;
    }

    .highlight-span {
        background: none;
        position: relative;
        border-bottom: 2px solid map-get($map: $colorMap, $key:"lightGolden");
    }
}