@media screen and (min-width: 992px) {

    .section-heading {

        font-size: 3rem;
    }

    .nav-bar {
        width: 30%;
        background: map-get($map: $colorMap, $key:"white");

        .nav-menu {
            position: initial;
            flex-flow: row wrap;
            width: initial;

            .nav-item {
                font-size: 1.2rem;

                .nav-link {
                    position: relative;

                    &::after {
                        content: "";
                        position: absolute;
                        top: 20px;
                        left: 0;
                        right: 0;
                        width: 0;
                        height: 3px;
                        border-radius: 2px;
                        background: map-get($map: $colorMap, $key:"lightGolden");
                    }

                    &:hover::after {
                        width: 100%;
                        transition: width 0.5s;
                    }
                }
            }


        }

        .image-navbar {
            display: block;
            border-radius: 50%;
            width: 40px;
            height: 40px;
            object-fit: cover;
        }

        .hamburguer-btn {
            display: none;
        }
    }

    .left-box {
        display: inline;
        width: 30%;
        position: fixed;
        inset: 0;
        background: url("../images/DamyCoder.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position-y: 30%;
        background-position-x: 50%;
    }

    .right-box {
        width: 70%;
        margin-left: 30%;

        header {
            margin: 0;
            height: 100vh;
            position: relative;

            .home-container {
                position: absolute;
                top: 40%;
                width: 100%;
                margin: auto;

                h1 {
                    font-size: 4rem;
                    font-weight: 600;

                    &::after {
                        width: 30px;
                        height: 3px;
                        bottom: 18%;
                        left: 50%;
                        transform: translateX(-55%);
                    }
                }

                p {
                    font-size: 2rem;
                    font-weight: 300;
                }

                img {
                    display: none;
                }

                .angle-icon {
                    display: initial;
                    font-size: 2.5rem;
                    color: black;
                    animation: blinky 1s alternate-reverse infinite;
                    color: map-get($map: $colorMap, $key: "golden");
                    padding: 25px 30px;
                    border-radius: 50%;
                    position: relative;

                    &::after {
                        opacity: 0;
                        content: "Click Me";
                        font-size: 1rem;
                        font-weight: 400;
                        color: black;
                        position: absolute;
                        width: auto;
                        height: auto;
                        background: transparent;
                        padding: 0 5px;
                        border: 2px solid wheat;
                        border-radius: 5px;
                        bottom: 60%;
                        right: -30%;
                        font-family: "Poppins", sans-serif;

                    }

                    &:hover {
                        animation: step-end;

                        &::after {
                            opacity: 1;
                            transition: opacity 4s;
                        }
                    }


                }
            }
        }

        .about-me {
            p {
                width: 50%;
                margin: auto;
                min-width: 450px;
            }
        }

        .my-skills {
            p {
                font-size: 1.5rem;
            }

            svg {
                height: 75px;
                padding: 0 25px;
            }
        }

        .my-works {
            .my-works-item {
                flex-flow: row wrap;

                p {
                    width: 50%;
                    padding: 0 10px;
                    font-size: 2.5rem;
                }

                img {
                    width: 50%;
                }
            }

            .javascript-item {

                img {
                    order: 1;
                }

                p {
                    order: 2;
                }

                div {
                    order: 3;
                }
            }


            .works-btn {
                a {
                    &:hover {
                        cursor: pointer;
                        background: map-get($map: $colorMap, $key: "golden");
                        color: #f2f2f2;
                        border: 0.5px solid map-get($map: $colorMap, $key: "golden");
                        padding: 5px 15px;
                    }
                }
            }
        }

        .my-certificates {
            width: 50%;
            margin: auto;
        }

        .my-resume {
            .resume-btn {
                box-shadow: none;
                display: initial;
                max-width: 500px;

                &:hover {
                    cursor: pointer;
                    background: map-get($map: $colorMap, $key: "white");
                    box-shadow: 0px 0px 162px -15px rgba(0, 0, 0, 0.4);
                    -webkit-box-shadow: 0px 0px 162px -15px rgba(0, 0, 0, 0.4);
                    -moz-box-shadow: 0px 0px 162px -15px rgba(0, 0, 0, 0.4);
                }
            }
        }

    }

}


@media screen and (min-width: 992px) and (max-width: 1226px) {
    .nav-bar {
        flex-direction: column;

        .nav-menu {
            .nav-item {
                font-size: 1rem;
            }
        }
    }

}

@media screen and (min-width: 1400px) {
    .nav-bar {
        .nav-menu {
            .nav-item {
                font-size: 1.5rem;
            }
        }
    }

    .my-works {
        .my-works-item {
            p {
                font-size: 2.75rem !important;
            }
        }
    }
}

@keyframes blinky {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;

    }
}