.home-container {
    margin-top: 100px;

    h1 {
        position: relative;
        font-weight: 600;

        &::after {
            content: "";
            position: absolute;
            left: 50%;
            bottom: 15%;
            width: 20px;
            height: 2px;
            border-radius: 5px;
            margin-top: -5px;
            background: map-get($map: $colorMap, $key:"golden");
            transform: translateX(-50%);
        }
    }

    p {
        margin-bottom: 25px;
    }

    img {
        width: 65%;
        display: block;
        margin: auto;
        border-radius: 2px;
        box-shadow: 1px 1px 149px -1px rgba(0, 0, 0, 0.49);
        -webkit-box-shadow: 1px 1px 149px -1px rgba(0, 0, 0, 0.49);
        -moz-box-shadow: 1px 1px 149px -1px rgba(0, 0, 0, 0.49);
    }
}