@import "_fonts.scss";
@import "_mixins.scss";
@import "_commons.scss";
@import "_breakpoints.scss";
@import "_home-container.scss";
@import "_nav-bar.scss";
@import "_about-me.scss";
@import "_works.scss";
@import "_certificates.scss";
@import "_contact.scss";
@import "_skills.scss";